@charset "UTF-8";
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Initial sizing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 100%; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */ }

/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
body {
  background-color: #000;
  color: #222;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.grid-container {
  padding: 0; }

i.fa, i.fab, i.fad, i.fas {
  vertical-align: center; }

a {
  transition: 0.3s;
  color: #FF4438; }
  a:link {
    color: #FF4438; }
  a:visited {
    color: #FF4438; }
  a:active {
    color: #FF4438; }
  a:hover {
    color: #d10d00; }

/* Typography - From Skeleton.css
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem; }
  h2 {
    font-size: 4.2rem; }
  h3 {
    font-size: 3.6rem; }
  h4 {
    font-size: 3.0rem; }
  h5 {
    font-size: 2.4rem; }
  h6 {
    font-size: 1.5rem; } }

/* Base styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  font-family: "brandon-grotesque", Arial, Helvetica, sans-serif; }

h1.title--page {
  font-size: 3.0rem; }

h3.title--subheading {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
  color: #00AF85; }

h5 {
  margin-top: 5px;
  margin-bottom: 0.75rem; }

p {
  font-size: 1rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

#filters button {
  font-weight: 700; }

section.unit--product {
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white; }
  section.unit--product section.unit--product-info {
    padding: 1rem; }

h2 {
  font-size: 1.8rem;
  margin-bottom: 5px; }

h4.pr-name {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2px;
  line-height: 1.2; }

p.pr-body {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  line-height: 1.4;
  margin-bottom: 20px; }

p.pr-price {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-bottom: 7px;
  color: #fff;
  font-style: italic; }

section.block--product-reservation {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

div .block--product-details {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6); }

.pr-red {
  color: #FF4438; }

section.filter {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  margin-bottom: 10px; }
  section.filter p {
    color: white;
    font-weight: bold; }

section.order {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  margin-bottom: 10px; }
  section.order p {
    color: white;
    font-weight: bold; }

.block--main-home {
  position: relative;
  height: 35vh;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  .block--main-home.content--welcome {
    background-image: url("../images/use-home-7DM23397Go_AB+ST+TT+DH_GS_HR.jpg"); }
  .block--main-home .block--inner-logo {
    padding-top: 1.5rem;
    text-align: center;
    color: #fff; }
  .block--main-home .logo--hero {
    margin-bottom: 3rem; }
  .block--main-home p.introduction--welcome {
    font-family: "brandon-grotesque", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.2em;
    font-weight: 700;
    margin-bottom: 5px; }
  .block--main-home p.introduction--hero {
    font-family: "brandon-grotesque", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.1;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.75); }

.block--home-half, .block--home-third {
  position: relative;
  height: 30vh;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.2); }
  .block--home-half.content--equipment, .block--home-third.content--equipment {
    background-image: url("../images/use-AbrahamShouse-SSM_7293.jpg"); }
  .block--home-half.content--new, .block--home-third.content--new {
    background-image: url("../images/use-new-freewing.jpg"); }
  .block--home-half.content--tripadvisor, .block--home-third.content--tripadvisor {
    background-image: url("../images/use-bay-photo.jpg");
    width: 100%; }
  .block--home-half.content--msw, .block--home-third.content--msw {
    background-image: url("../images/use-msw-starboard-surf.jpg");
    width: 100%; }
  .block--home-half.content--pop, .block--home-third.content--pop {
    background-image: url("../images/use-ocean-water-wave-photo-1295138.jpg");
    width: 100%; }
  .block--home-half .block--inner-logo, .block--home-third .block--inner-logo {
    position: absolute;
    left: 15%;
    top: 50%;
    width: 70%;
    transform: translate(0, -50%);
    color: #fff;
    font-family: "brandon-grotesque", Arial, Helvetica, sans-serif;
    text-align: center; }
    .block--home-half .block--inner-logo p, .block--home-third .block--inner-logo p {
      font-family: "brandon-grotesque", Arial, Helvetica, sans-serif; }

.block--home-half, .block--home-third {
  transition-duration: .3s; }
  .block--home-half .logo--thirdparty, .block--home-third .logo--thirdparty {
    transition-property: transform;
    transition-duration: .3s; }
  .block--home-half:hover, .block--home-third:hover {
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.6); }
    .block--home-half:hover figure.logo--thirdparty, .block--home-third:hover figure.logo--thirdparty {
      transform: scale(1.1); }

.block--home-logos {
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5); }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
@media (min-width: 400px) {
  .block--main-home {
    height: 40vh;
    padding-top: 3rem; }
    .block--main-home .block--inner-logo {
      padding-top: 3rem; } }

/* Larger than phablet */
@media (min-width: 550px) {
  .block--main-home {
    height: 50vh;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem; }
  p.introduction--hero {
    font-size: 1.8rem; }
  .block--home-logos .logo {
    transition-property: transform;
    transition-duration: .3s; }
    .block--home-logos .logo:hover {
      transform: scale(1.1); } }

/* Larger than tablet */
@media (min-width: 750px) {
  .block--main-home {
    height: 50vh;
    padding-top: 9rem; }
  p.introduction--hero {
    font-size: 2rem; }
  .block--home-logos {
    padding: 3rem; }
  #animate--first {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  #animate--second {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; } }

/* Larger than desktop */
@media (min-width: 1000px) {
  .block--main-home {
    height: 60vh;
    padding-top: 15rem; } }

.faq-qanda, .faq-terms {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #00AF85; }
  .faq-qanda:last-child, .faq-terms:last-child {
    border-bottom: none; }

button, .button {
  font-size: 1rem; }

a.unit--button-reserve, button.unit--button-reserve {
  font-size: .8rem;
  padding: 8px 12px;
  background-color: #FF4438;
  color: white;
  border-radius: 3px;
  transition: 0.3s;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  a.unit--button-reserve:hover, button.unit--button-reserve:hover {
    background-color: #d10d00;
    color: white; }

button.button--filter {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px; }
  button.button--filter:link {
    background-color: rgba(0, 0, 0, 0.6); }
  button.button--filter:visited {
    background-color: rgba(0, 0, 0, 0.6); }
  button.button--filter:active {
    background-color: rgba(0, 0, 0, 0.6); }
  button.button--filter:hover {
    background-color: #00AF85; }
  button.button--filter.is-checked {
    background-color: #00AF85; }

.button-group {
  margin-bottom: 0; }
  .button-group .button {
    margin-right: 5px; }

figure {
  margin: 0;
  padding: 0; }
  figure.align-center {
    text-align: center; }
  figure.align-left {
    text-align: left; }
  figure figcaption.pr-category {
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    z-index: 100;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    background: linear-gradient(315deg, black 20%, #00af85 100%);
    padding: 4px 8px 4px 7px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    letter-spacing: 0.3em; }

hr.product-break {
  margin: 0;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  text-align: left;
  width: 15%;
  border: 1px solid #fff; }

thead, tbody, tfoot {
  background-color: rgba(0, 0, 0, 0.1);
  border: none; }

table {
  font-size: 1.1rem;
  background-color: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff; }
  table thead {
    color: #00AF85;
    background-color: rgba(0, 0, 0, 0.5); }
  table tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.15); }
  table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.075); }

.header {
  background-color: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); }

.off-canvas {
  background-color: #04021E; }

.top-bar {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 10; }

.top-bar, .top-bar ul {
  background-color: #04021E; }
  .top-bar .menu a, .top-bar ul .menu a {
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-right: 7px; }
    .top-bar .menu a:hover, .top-bar ul .menu a:hover {
      color: #fff;
      background-color: #FF4438;
      border-radius: 3px; }
  .top-bar .menu .active > a, .top-bar .menu .is-active > a, .top-bar ul .menu .active > a, .top-bar ul .menu .is-active > a {
    background-color: #FF4438;
    border-radius: 3px; }

.top-bar-left .menu a:hover, .top-bar-left ul .menu a:hover {
  color: #FF4438;
  background-color: #04021E;
  border-radius: 3px; }

.off-canvas.position-right li a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 1rem; }
  .off-canvas.position-right li a:hover {
    color: #FF4438; }

.dropdown.menu > li.menu--icon > a {
  color: #fff;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  .dropdown.menu > li.menu--icon > a:hover {
    color: #FF4438;
    background-color: #04021E; }

.off-canvas.position-right li.is-active a, .off-canvas.position-right li.active a {
  color: #FF4438;
  background: none !important; }

.top-bar .top-bar-left, .top-bar .top-bar-right {
  flex: 0 0 auto; }

.show-for-small-only li a:hover {
  background-color: none; }

.background--image {
  background-image: url("../images/dark-AbrahamShouse-SSM_6892.jpg");
  background-size: cover;
  background-position: top;
  padding-bottom: 3rem; }

.home .background--image {
  padding-bottom: 0; }

.template--page {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 0;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem; }

footer, .footer {
  border-top: 10px solid #000;
  background-image: url("../images/use-footer-2018-Matty_DJI_0039-v3.jpg");
  background-position: center;
  background-repeat: repeat-x;
  padding: 3rem;
  padding-bottom: 1.5rem;
  margin-top: 0;
  color: #fff; }
  footer h4.uc--footer, .footer h4.uc--footer {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 1rem; }
  footer p, .footer p {
    color: white;
    margin-bottom: 0; }
    footer p.copyright, .footer p.copyright {
      font-weight: 700;
      font-size: 0.8rem;
      color: #ff8c85; }
  footer a, .footer a {
    color: white; }

ul.contact--footer {
  list-style: none;
  margin-left: 0;
  margin-bottom: 10px; }
  ul.contact--footer li {
    transition: 0.3s;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px; }
    ul.contact--footer li:hover a {
      color: #FF4438; }

.foot--secondary {
  margin-top: 1.5rem; }

.weather-temp {
  font-size: 4rem; }
  .weather-temp sup {
    font-size: 60%; }

.w-desc-data {
  text-transform: uppercase; }

.weather-loc {
  margin-top: 1.5rem; }
  .weather-loc .w-loc-data {
    font-weight: 700; }

.weather-container.grid-container {
  margin-top: 1.5rem;
  padding: 0; }

/* Larger than desktop */
@media (min-width: 1000px) {
  padding: 3rem; }
