@charset "UTF-8";
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Initial sizing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*  NOTE. html is set to 62.5% so that all the REM measurements throughout Skeleton are based on 10px sizing. So basically 1.5rem = 15px */
/*  NOTE. If normal, 100% equals 16px sizing. */
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */ }

/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
body {
  background-color: #fff;
  color: #222;
  font-family: "brandon-grotesque", sans-serif; }

section.filter {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  margin-bottom: 10px; }
  section.filter p {
    color: white;
    font-weight: bold; }

h2 {
  font-size: 24px;
  margin-bottom: 5px; }

h4.pr-name {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  line-height: 1.2; }

p.pr-body {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 20px; }

p.pr-price {
  margin-top: 3px;
  margin-bottom: 7px;
  color: #fff;
  font-style: italic; }

section.block--product-reservation {
  margin-top: 15px;
  margin-bottom: 30px; }

div .block--product-details {
  font-size: 90%;
  color: rgba(255, 255, 255, 0.6); }

.pr-red {
  color: #FF4438; }

button.unit--button-reserve {
  padding: 8px 18px;
  background-color: #FF4438;
  color: white;
  border-radius: 3px;
  transition: 0.3s; }
  button.unit--button-reserve:hover {
    background-color: #d10d00;
    color: white; }
  button.unit--button-reserve a {
    font-weight: bold;
    font-size: 75%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    button.unit--button-reserve a:hover {
      color: white; }

button.button--filter {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px; }
  button.button--filter:hover {
    background-color: #FF4438; }
  button.button--filter.is-checked {
    background-color: #FF4438; }

.button-group {
  margin-bottom: 0; }
  .button-group .button {
    margin-right: 5px; }

figure figcaption.pr-category {
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  z-index: 100;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
  letter-spacing: 0.3em; }

hr.product-break {
  margin: 0;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  text-align: left;
  width: 15%;
  border: 1px solid #fff; }

.header {
  background-color: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); }

.top-bar, .top-bar ul {
  background-color: rgba(4, 2, 30, 0.5); }
  .top-bar.menu a, .top-bar ul.menu a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700; }
  .top-bar.menu .active > a, .top-bar .menu .is-active > a, .top-bar ul.menu .active > a, .top-bar ul .menu .is-active > a {
    background-color: #004161; }

main {
  background-color: #fefefe;
  padding-top: 0;
  padding-bottom: 10rem; }

footer.footer {
  background-color: #006699;
  padding: 5rem;
  margin-top: 0; }
  footer.footer p {
    color: white;
    margin-bottom: 0; }
  footer.footer a {
    color: white; }
