footer, .footer {
	// background-color: $color-secondary;
	// Need to add a different image for the mobile version as the image is not tall enough
	border-top: 10px solid $color-black;
	background-image: url('../images/use-footer-2018-Matty_DJI_0039-v3.jpg');
	background-position: center;
	background-repeat: repeat-x;
	padding: $padding-general;
	padding-bottom: $padding-small;
	margin-top: 0;
	color: $color-white;
	& h4.uc--footer {
		text-transform: uppercase;
		font-size: 0.9rem;
		letter-spacing: 0.1rem;
		font-weight: $font-bold;
		margin-bottom: $margin-small/1.5;
	}
	& p {
		color: white;
		margin-bottom: 0;
		&.copyright {
			font-weight: $font-bold;
			font-size: 0.8rem;
			color: lighten($color-secondary, 15%);
		}
	}
	& a {
		color: white;
	}
}

ul.contact--footer{
	list-style: none;
	margin-left: 0;
	margin-bottom: 10px;
	& li {
		transition:0.3s;
		font-weight: $font-bold;
		font-size: 1.2rem;
		margin-bottom: 1px;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 5px;
		&:hover {
			a {
				color: $color-secondary;
			}
		}
	}
}

.foot--secondary {
	margin-top: $margin-small;
}

.weather-temp {
	font-size: 4rem;
	& sup {
		font-size: 60%;
	}
}

.w-desc-data {
	text-transform: uppercase;
}

.weather-loc {
	margin-top: $margin-small;
	.w-loc-data {
		font-weight: $font-bold;
	}
}

.weather-container.grid-container {
	margin-top: $margin-small;
	padding: 0;
}

/* Larger than desktop */
@media (min-width: 1000px) {
	padding: $padding-general;
}

