.top-bar {
	box-shadow: 0 0 20px rgba(0,0,0,0.7);
	position: relative;
	z-index: 10;
}

.top-bar, .top-bar ul {
	background-color: $color-primary;
	&.menu a {
		font-size: 1rem;
		color: $color-white;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: $font-bold;
		margin-right: 7px;
		&:hover {
			color: $color-white;
			background-color: $color-secondary;
			border-radius: 3px;
		}
	}
	&.menu .active > a, .menu .is-active > a {
		background-color: $color-secondary;
		border-radius: 3px;
	}
}

.top-bar-left, .top-bar-left ul {
	&.menu a {
		&:hover {
			color: $color-secondary;
			background-color: $color-primary;
			border-radius: 3px;
		}
	}
}