button, .button {
	font-size: 1rem;
}

button.unit--button-reserve {
	padding: 8px 18px;
	background-color: $color-secondary;
	color: white;
	border-radius: 3px;
	transition: 0.3s;
	&:hover {
		background-color: $color-secondary-dark;
		color: white;
	}
	& a {
		font-weight: bold;
		font-size: 75%;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		&:hover {
			color: white;

		}
	}
}	

button.button--filter {
	background-color: rgba(0,0,0,0.6);
	border-radius: 5px;
	&:hover {
		background-color:$color-secondary;
	}
	&.is-checked {
		background-color:$color-secondary;
	}
}

.button-group {
	margin-bottom: 0;
	& .button {
		margin-right: 5px;
	}
}