button, .button {
}

button.unit--button-reserve {
	padding: 8px 18px;
	background-color: $color-secondary;
	color: white;
	border-radius: 3px;
	transition: 0.3s;
	&:hover {
		background-color: $color-secondary-dark;
		color: white;
	}
	& a {
		font-weight: bold;
		font-size: 75%;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		&:hover {
			color: white;

		}
	}
}	