thead, tbody, tfoot {
	background-color: rgba(0,0,0,0.1);
	border:none;
}

table {
	font-size: 1.1rem;
	background-color: none;
	margin-top: 10px;
	margin-bottom: 10px;
	color: $color-white;
	& thead {
		color: $color-tertiary;
		background-color: rgba(255,255,255,0.3);
	}
	& tbody {
		& tr:nth-child(odd) {
			background-color: rgba(255,255,255,0.15);
		}
		& tr:nth-child(even) {
			background-color: rgba(255,255,255,0.075);
		}
	}
}