.block--main-home {
	position:relative;
	height:60vh;
	background-position:center;
	background-size:cover;
	box-shadow: inset 0 0 0 100vmax rgba(0,0,0,0.3);
	padding-top: $padding-general;
	&.content--welcome {
		background-image: url('../images/use-home-7DM23397Go_AB+ST+TT+DH_GS_HR.jpg');
	}
	& .block--inner-logo {
		padding-top:$padding-general;
		text-align: center;
		color: $color-white;
	}
	& .logo--hero {
		margin-bottom: $margin-general;
	}

	p.introduction--welcome {
		font-family: $font--sans;
		text-transform: uppercase;
		font-size: 1.4rem;
		letter-spacing: 0.2em;
		font-weight: $font-bold;
		margin-bottom: 5px;
	}
	& p.introduction--hero {
		font-family: $font--sans;
		font-size: 2rem;
		line-height: 1.1;
		text-shadow: 0 0 7px rgba(0,0,0,0.75);
	}
}

.block--home-half, .block--home-third {
	position:relative;
	height:30vh;
	background-position:center;
	background-size:cover;
	box-shadow: inset 0 0 0 100vmax rgba(0,0,0,0.2);
	&.content--equipment{
		background-image: url('../images/use-AbrahamShouse-SSM_7293.jpg');
	}
	&.content--new {
		background-image: url('../images/use-new-freewing.jpg');
	}
	&.content--tripadvisor{
		background-image: url('../images/use-bay-photo.jpg');
		width: 100%;
	}
	&.content--msw {
		background-image: url('../images/use-msw-C_SB_SUP_ MAUI_RGB.jpg');
		width: 100%;
	}
	&.content--pop {
		background-image: url('../images/use-ocean-water-wave-photo-1295138.jpg');
		width: 100%;
	}
	& .block--inner-logo {
		position:absolute;
		// Original version: small, but centered
		// left: 50%;
		// top: 50%;
		// transform:translate(-50%,-50%); // For precise positioning
		left: 15%;
		top: 50%;
		width: 70%;
		transform:translate(0,-50%); // For precise positioning
		color: $color-white;
		font-family: $font--sans;
		text-align: center;
		& p {
			font-family: $font--sans;
		} 	
	}
}

.block--home-half, .block--home-third {
	transition-duration: .3s;
	& .logo--thirdparty {
		transition-property: transform;
		transition-duration: .3s;
	}
	&:hover {
		box-shadow: inset 0 0 0 100vmax rgba(0,0,0,0.6);
		& figure.logo--thirdparty {
			transform: scale(1.1);
		}
	}
}

.block--home-logos {
	padding: $padding-small;
	background-color:rgba(0,0,0,0.5);
}

/* Larger than phablet */
@media (min-width: 550px) {
	.block--main-home {
		padding-top: $padding-general*3;
	}
	.block--home-logos {
		& .logo {
			transition-property: transform;
			transition-duration: .3s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

/* Larger than tablet */
@media (min-width: 750px) {
	.block--main-home {
		padding-top: $padding-general*6;
	}
	.block--home-logos {
		padding: $padding-general;
	}
	#animate--first {
		@include fadeIn(
		    $duration: 2s,
		    $delay: .5s,
		    $function: ease
		);
	}
	#animate--second {
		@include fadeIn(
		    $duration: 2s,
		    $delay: 1.5s,
		    $function: ease
		);
	}
}
