h2 {
	font-size: 24px;
	margin-bottom: 5px;
}

h4 {
	&.pr-name {
		color: white;
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 2px;
		line-height: 1.2;
	}
}

p {
	&.pr-body {
		color: rgba(255,255,255,0.6);
		font-size: 13px;
		line-height: 1.4;
		margin-bottom: 20px;
	}
	&.pr-price {
		margin-top: 3px;
		margin-bottom: 7px;
		color: $color-white;
		font-style: italic;
	}
}

section.block--product-reservation {
	margin-top: 15px;
	margin-bottom: 30px;
}

div .block--product-details {
	font-size: 90%;
	color: rgba(255,255,255,0.6);
}

.pr-red {
	color: $color-secondary;
}