h2 {

}
h4 {
	&.pr-name {
		color: white;
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 2px;
		line-height: 0.65;
	}
}
p {
	&.pr-body {
		color: rgba(255,255,255,0.7);
		font-size: 14px;
		line-height: 1.43;
	}
	&.pr-price {
		color: $color-white;
		font-style: normal;
	}
}

section.block--product-reservation {
	margin-top: 15px;
	margin-bottom: 30px;
}

div .block--product-details {
	font-size: 90%;
}

.pr-red {
	color: $color-secondary;
}