// Base values
$base-value: 1em; // To test ems value as opposed to px
$base-value-px: 16px; // To test base value with px - use on font-size and line-height

// Margins & Paddings
$margin-general: $base-value * 2;
$margin-small: $base-value;
$padding-general: $base-value * 2;
$padding-small: $base-value;

// Fonts
$font-sans: sans-serif;
$font-serif: serif;

// Colours
$color-primary: #000; // Colour Black : rgba(0,0,0,1); 
$color-secondary: #FF4438; // Colour Red: rgba(255,68,56,1); 
$color-tertiary: #00AF85; // Colour Aqua Green: rgba(0,0,0,1);//

$color-white: #fff; // Colour White: rgba(255,255,255,1);

$color-secondary-dark: darken($color-secondary,20%);
$color-tertiary-dark: darken($color-tertiary,20%);