/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$color-primary: #04021E; // Colour Dark Blue : rgba(4,2,30,1); 
$color-secondary: #FF4438; // Colour Red: rgba(255,68,56,1); 
$color-tertiary: #00AF85; // Colour Aqua Green: rgba(0,0,0,1);//

$color-white: #fff; // Colour White: rgba(255,255,255,1);

$color-secondary-dark: darken($color-secondary,20%);
$color-tertiary-dark: darken($color-tertiary,20%);


/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font--sans: 'brandon-grotesque', sans-serif;
$font--sans-body: 'Roboto', sans-serif;
$font--serif: serif;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;


/* Initial sizing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    font-size: 100%; // 16px
}

body {
	font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
}

$base-value: 1.5rem;

$margin-small: $base-value;
$margin-general: $base-value*2;
$padding-small: $base-value;
$padding-general: $base-value*2;